//
// WooCommerce Widgets
//

/**
 * WooCommerce Price Filter
 */
.woocommerce {
	.widget_price_filter {
		
		.price_slider_wrapper {
			.ui-widget-content {
				border-radius: 1rem;
				background-color: $color__secondary;
			}
		}

		.price-slider {
			margin-bottom: 1rem;
		}

		.ui-slider {
			margin-left: 0.5rem;
			margin-right: 0.5rem;

			.ui-slider-range {
				font-size: var(--font-size-xs);
				border-radius: 1rem;
	    		background-color: $color__input-border;
			}

			.ui-slider-handle {
				width: 1rem;
				height: 1rem;
				background-color: $color__primary;
				top: -0.3rem;
				margin-left: -0.5rem;
				margin-top: 0;
			}
		}

		.ui-slider-horizontal {
			height: 0.5rem;
		}

		.price_slider_amount {
			display: flex;
			justify-content: space-between;
			align-items: center;
			text-align: unset;
			line-height: unset;
			font-size: var(--font-size-sm);
			.clear {
				display: none;
			}
			.button {
				font-size: var(--font-size-base);
			}
		}
	}
}

// WooCommerce Recently Viewed Products
.woocommerce {
	.widget_recently_viewed_products {

		ul.product_list_widget {
			li {
				img {
					float: none;
					width: 35%;
					margin-left: 0;
					margin-right: 0.5rem;
				}
				a {
					display: flex;
					margin-bottom: 0.375rem;
					font-weight: var(--font-weight-bold);
				}
				ins, del {
					padding: 0.125rem 0.25rem;
				}
			}
		}
	}
}

// Layered Nav: Filter list
.woocommerce {

	.woocommerce-widget-layered-nav {
	
		.woocommerce-widget-layered-nav-list {
			list-style: none;
			padding: 0 0.25rem;
			margin-bottom: 0;

			.woocommerce-widget-layered-nav-list__item {
				position: relative;
				display: flex;
				padding: 0;
	  			transition: var(--link-transition); 

				&:hover {
					background-color: $color__primary;
					color: var(--colour-white);
					cursor: pointer;

					span {
						color: var(--color-white);
					}

					a {
						color: var(--color-white);
					}
				}

				a {
					flex-grow: 1;
					padding: 0.375rem 0.625rem;
					margin: 0;

					&:hover {
						background-color: $color__primary;
						color: var(--color-white);
						filter: none;

	      				~ span {
							color: var(--color-white);
						}
					}
				}
				
				span {
					position: absolute;
					top: 0.25rem;
					right: 0.625rem;
				}

				&::before,
				&::after {
					display: none;
				}
			}

			.woocommerce-widget-layered-nav-list__item--chosen {
				a {
					&::before {
						margin-right: 0.5rem;
					}
				}
			}
		}
	}
}


// Product Category List
.woocommerce {
	.widget_product_categories {

		ul.product-categories {
			list-style: none;
			padding: 0 0.25rem;
			margin-bottom: 0;

			li {
				position: relative;
				display: flex;
				padding: 0;

				a {
					flex-grow: 1;
					padding: 0.375rem 0.625rem;
					margin: 0;

					&:hover {
						background-color: $color__primary;
						color: var(--color-white);
						filter: none;
					}
				}
			}
		}
	}
}

// Product Tag List
.woocommerce {
	.widget_product_tag_cloud {
		div.tagcloud {
			padding: 0 0.625rem;
			a {
				padding: 0.25rem 0.375rem;
				background-color: $color__text-highlight;
				&:hover {
					background-color: $color__text-highlight;
					filter: none;
				}
			}
		}
	}
}
