//
// Layouts - About Page
//

// @todo 
//section { &#history {} }
//padding etc to utilities
//font & width to rems if poss
//h2-> heading css modify html
//

/** About Us **/

section#history {
	header {
		background-color: $brand-primary;
		span {
			width:3rem;
		}
	}
	h2 {
		background-color: $brand-primary;
		font-weight: bold;
		padding: 0.5rem 1rem;
		color: $white;
		margin: 0;
		text-transform: uppercase;
	}
	p {
		font-size: 1.25rem;
		line-height: 1.375;
	}
}

section.timeline {
	padding: 3rem 0 0;
	header {
		background-color: $brand-primary;
		span {
			width:3rem;
		}
		margin:0;
	}
	h2 {
		background-color: $brand-primary;
		font-weight: bold;
		padding: 0.5rem 1rem;
		color: $white;
		margin: 0;
		text-transform: uppercase;
	}
	h4 {
		font-weight: bold;
		margin: 0;
	}
	h5 {
		width: 5.25rem;
		height: 5.25rem;
		background-image: url(assets/images/icons/timeline.png);
		background-position: center center;
		background-repeat: no-repeat;
		span {
			color: $white;
			font-weight: bold;
		}
	}
	.border-right {
	    border-right: 0.125rem solid $brand-primary !important;
	}
	.link {
		font-weight: bold;
		font-size: 1.5rem;
		a {
			font-size: 1.75rem;
		}
	}
}

section.careers {
	padding: 4rem 0;
	header {
		background-color: $brand-primary;
		span {
			width:4rem;
		}
		margin:0;
	}
	h2 {
		background-color: $brand-primary;
		font-weight: bold;
		padding: 0.5rem 1rem;
		color: $white;
		margin: 0;
		text-transform: uppercase;
	}
	p {
		font-size: 1.25rem;
		line-height: 1.375;
	}
}

section#experts {
	.expert {
		.image {
			max-width: 225px;
			img {
				margin: 0;
			}
		}
		h3 {
			font-weight: bold;
		}
		p.role {
			font-size: 1.5rem;
			letter-spacing: 0.1rem;
			line-height: 1.375rem;
			font-weight: 500;
		}
		.social {
			margin-bottom: 1rem;
			a {
				margin: 0 0.75rem 0 0;
				color: #fff;
				display: inline-block;
				width: 2.5rem;
				height: 2.5rem;
				border-radius: 1.5rem;
				line-height: 2.5rem;
				font-size: 1.25rem;
				text-align: center;
				vertical-align: bottom;
				i {
					vertical-align: bottom;
					line-height: 2.5rem;
				}
				&.facebook {
					background-color: #4460ae;
				}
				&.gplus {
					background-color: #c21f25;
				}
				&.twitter {
					background-color: #3cf;
				}
				&.instagram {
					background-color: #cd4378;
				}
				&.email {
					background-color: #4a7f45;
				}
			}
		}
		.text {
			p {
				color: $gray-500;
				font-size: $font-size-sm;
			}
		}
	}
}

