//
// Layouts - CTA
//

/*
* ===================================================
*     CTA SECTION
* ===================================================
*/

section.cta {
	position: relative;
	&.banner { background-color: theme-color('banner') !important;	}
	&.congestion { background-color: theme-color('congestion') !important; }
	&.everyday { background-color: theme-color('everyday') !important; }
	&.osa { background-color: theme-color('osa') !important; }
	&.button { background-color: theme-color('button') !important; }
	color: #fff;
	h2 {
		line-height: 1;
	}
    p {
        font-weight: 300;
        margin: 0;
		padding-right: 100px;
    }
	.link {
		position: absolute;
		bottom: 0.75rem;
		right: 2.5rem;
		.btn {
			font-size: 1.375rem;
			padding: 0.125rem 2.25rem;
		}
	}
}

