//
// Layouts - FAQs
//

/** FAQS SECTION **/

section.faqs {
	.card {
		margin-bottom: 0.75rem;
		border: none;
		.card-header {
    		padding: 0;
	    	background-color: $brand-primary;
	    	border-bottom: none;
			a {
				width: 100%;
			}
			h5 {
				color: $white;
				padding: 0.375rem 2rem;
			}
		}
		.card-body {
			background-color: $gray-100;
		}
		a {
			.fa-caret:before {
				content: "\f0d9";
				transition: all 0.5s;
				color: $white;
 			}			
			&.collapsed {
				.fa-caret:before {
				    content: "\f0d7";
					color: $white;
 				}
			}
		}
	}
}

