//
// Layouts - Science Page
//

/** SCIENCE SECTION **/

section#science {

	header {
		p {
			font-size: 1.125rem;
			line-height: 1.25;
		}
	}
	.legend {
		img {
			width: 3em;
		}
		span {
			font-size: 1.375rem;
			padding: 0 0.5rem;
			font-weight: 500;
		}
	}
	.panes {
		p {
			font-size: 1.125rem;
			font-weight: normal
		}
	}
}

.science-result {
	.legend {
		.image {
			img {
				width: 75px;
				height: 75px;
			}
		}
		span {
			font-size: 1.375rem;
			font-weight: 500;
		}
	}
	.image {

	}
}

