//
// Layouts - Testimonials
//

/** TESTIMONIALS SECTION **/

section#testimonials {
	position: relative;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.15);
	}
	.product {
	    min-height: 200px;
		padding: 0;
		.image {
			padding: 0;
			background: none !important;
		}
		img {
			max-width: 200px;
		}
		.hover-overlay {
			background: rgba(255, 255, 255, 0);
		}
	}
	h2 {
		background-color: $brand-primary;
		color: $white;
		padding: 0.5rem;
		margin-bottom: 2rem;
		font-weight: bold;
	}
	.tt {
		height: 400px;
	}
	.testimonial {
		width: 100%;
		background-color: rgba(255,255,255,0.65);
		padding: 20px 25px;
		min-width: 250px;
		margin-bottom: 0.5rem;
		h5 {
			color: $brand-primary;
			font-weight: bold;
			margin: 0;
		}
	}
	.stars {
		width: 100%;
	}
	.tt-user {
		width: 100%;
		text-align: left;
		color: $brand-primary;
		font-size: 1.375rem;
	}
	.owl-prev {
		width: 24px;
		height: 40px !important;
		position: absolute;
		top: 35%;
		left: -36px !important;
		display: block !important;
		outline: none;
		font-weight: bold;
	}
	.owl-next {
		width: 24px;
		height: 40px;
		position: absolute;
		top: 35%;
		right: -36px;
		display: block !important;
		border: none;
		outline: none;
	}
	.owl-prev i, .owl-next i {
		transform : scale(2); color: $white;
	}	
    .owl-dots {
        margin-top: 25px !important;
    }
}

@media (min-width: 1200px) {
	section.testimonials {
    	.testimonial-label { font-size: 1.5rem;	}
	}
}

