//
// Components - loading page & graphic
//

$loader-size: 2.5rem;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--color-white);
  z-index: 9999;
  &.hidden {
	  display: none;
  }
  > div {
    color: transparent;
    width: $loader-size;
    height: $loader-size;
    border-radius: 50%;
    border-top: 0.375rem solid $color__primary;
    animation: rotate 1200ms infinite linear;
  }
}
