//
// Components - Navigation, Pagination & Dropdown styling
//

// Main navigation
.main-navigation {
	display: block;
	width: 100%;
	margin: 0 auto;
	background-color: $color__menu-background;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999rem;
			z-index: 99999;
			background-color: $color__menu-background-alt;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: 100%;
				}
				
				a {
					width: 8rem;
				}
			}
		}

		li {
			&:hover > ul {
				left: auto;
			}
		}
	}

	li {
		position: relative;
	}

	a {
		display: block;
		padding: 0.625rem 0.875rem;
		color: $color__menu-text;
		text-align: center;
		text-decoration: none;

		&:hover,
		&:focus {
			background-color: $color__menu-background-hover;
		}
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
		color: $color__menu-text;
		background-color: $color__menu-background-active;
	}
}

// Small menu
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
	ul {	
		width: 100%;
		a {
			width: 100%;
		}
	}
}

// Responsive
@media screen and (min-width: 992px) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
		justify-content: flex-start;

		ul {
			flex-direction: column;
			li {
				width: 12rem;
				a {
					width: 100%
				}
			}
		}
	}

	.main-navigation > ul li {
		//flex: 1 1 0;
	}

	.main-navigation a {
		min-width: 8rem;
	}
}

// Comment & Post ?
.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-content & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		flex: 1 0 50%;
	}
}

//
// Pagination
//

// Numbered pagination
nav.navigation {
	display: block;
	padding: 1.625rem 0 0;
}

.nav-links {
	.page-numbers {
		padding: 0.5rem 0.625rem;
		margin: 0 0.125rem;
		border: 1px solid $color__input-border;
		line-height: 1;
		text-decoration: none;
		border-radius: 0;
		font-weight: var(--font-weight-bold);
		&.current {
			color: $color__text-primary;
		    background: $color__highlight;
		}
		&.dots {
			color: $color__text-primary;
			font-weight: var(--font-weight-bold);
		}
	}
	a {
		&.page-numbers {
			color: $color__text-primary;
			&:hover {
				background: $color__highlight;
			}
		}
		&.next,
		&.prev {
			padding: 0.5rem 0.875rem;
			color: var(--color-white);
			background-color: $color__primary;
			&:hover {
				background-color: $color__primary;
				filter: brightness(var(--color-filter-hover-light)) saturate(var(--color-filter-hover-saturate));
			}			
		}
	}
	.dots {
		text-align: center;
		line-height: 0.5;
	}
}
	
@media only screen and (min-width: 592px) {
	nav.navigation {
		.nav-links {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			
			.nav-next,
			.nav-previous {
				flex: 0 1 auto;
				margin-bottom: inherit;
				margin-top: inherit;
			}
			.nav-previous {
				margin-right: 0.625rem;
			}
			.nav-next {
				margin-left: 0.625rem
			}
		}
	}
}

// Next & Prev Pagination
.paginate {
	display: block;
	padding: 0.625rem 0;

	nav.pagination {
		display: flex;
		justify-content: center;
	}

	.nav-next,
	.nav-previous {
		a {
			padding: 0.375rem 1.375rem;
			color: var(--color-white);
			background-color: $color__primary;
			border-radius: 0;
			&:hover {
				background-color: $color__primary;
				filter: brightness(var(--color-filter-hover-light)) saturate(var(--color-filter-hover-saturate));
			}			
		}
	}
	.nav-left {
		margin-right: 0.625rem;
	}
	.nav-right {
		margin-left: 0.625rem;
	}

	&.paginate-center {
		.nav-links,
		nav.pagination {
			justify-content: center;
		}
	}

	&.paginate-between {
		.nav-links,
		nav.pagination {
			justify-content: space-between;
		}
	}

	&.paginate-around {
		.nav-links,
		nav.pagination {
			justify-content: space-around;
		}
	}

	&.paginate-evenly {
		.nav-links,
		nav.pagination {
			justify-content: space-evenly;
		}
	}
}
