//
// Elements - Headings (h1-h6 etc).
//

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 1.375rem;
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-heading);
    color: $color__text-secondary;
	clear: both;
}

h1 {
    font-size: var(--font-size-xxl);
    margin-bottom: 1.625rem;
}

h2 {
    font-size: var(--font-size-xl);
    margin-bottom: 1.5rem;
}

h3 {
    font-size: var(--font-size-lg);
}

h4 {
    font-size: var(--font-size-md);
}

h5 {
    font-size: var(--font-size-base);
}

h6 {
    font-size: var(--font-size-sm);
}
