//
// Elements - Images
//

embed,
iframe,
object {
	max-width: 100%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

iframe {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1rem 0;
}
