//
// Elements - Tables
//

table {
	margin: 0 0 1.5rem;
	width: 100%;
	border-collapse: collapse;
	border-color: inherit;
	text-indent: 0;
}

table,
th,
td {
	border: 1px solid rgba(0, 0, 0, 0.1);
}

th,
td {
	padding: 0.5rem;
}

th {
	border-width: 0 1px 1px 0;
}

td {
	border-width: 0 1px 1px 0;
}
