//
// Global & preprocessor variables
//

@import 'variables/colors';
@import 'variables/columns';
@import 'variables/layout';

/*--------------------------------------------------------------
# Global Variables
--------------------------------------------------------------*/
:root {
	
	/* Font Family */
	--font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	--font-pre: "Courier 10 Pitch", courier, monospace;
	--font-code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;

	/* Font Size: Rem base 16px */
	--font-size-base: 1rem; 	// 16px / 16px
	--font-size-xs: 0.75rem; 	// 12px / 16px
	--font-size-sm: 0.875rem; 	// 14px / 16px
	--font-size-md: 1.125rem;	// 18px / 16px
	--font-size-lg: 1.375rem; 	// 22px / 16px
	--font-size-xl: 1.75rem; 	// 28px / 16px
	--font-size-xxl: 2.25rem; 	// 36px / 16px
	--font-size-xxxl: 4rem; 	// 64px / 16px
	--font-size-xxxxl: 5rem; 	// 80px / 16px

	/* Font Weight */
	--font-weight-lighter: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--font-weight-bolder: 900;

	/* Font Spacing */
	--letter-spacing: normal;

	/* Border */
	--border-radius: 0.25rem;
	--border-width: 1px;

	/* Line Height */
	--line-height-body: 1.5;
	--line-height-pre: 1.6;
	--line-height-heading: 1.3;
	--line-height-button: 1.3;

	/* Colors */
	--color-black: #000;
	--color-dark-gray: #28303d;
	--color-gray: #39414d;
	--color-mid-gray: #ccc;
	--color-light-gray: #f1f1f1;
	--color-white: #fff;
	--color-white-50: #{rgba(255, 255, 255, 0.5)};
	--color-white-90: #{rgba(255, 255, 255, 0.9)};

	/* Color: Hover effects */
	--color-filter-hover-light: 1.15;
	--color-filter-hover-dark: 0.85;
	--color-filter-hover-saturate: 125%;
	--color-filter-opacity-light: 0.65;
	--color-filter-opacity-dark: 0.85;
	--color-filter-interval: 8%;

	/* Links */
	--link-color: #{$color__link};
	--link-decoration: none;
	--link-decoration-hover: none;
	--link-transition: all 0.3s ease-in-out;

	/* Select */
	--select-border: #{$color__input-border};
	--select-focus: #{$color__text-secondary};
	--select-arrow: var(--select-border);
}

@media only screen and (min-width: 652px) {
	:root {
		--font-size-xxl: 2.5rem;	// 40px / 16px
		--font-size-xxxl: 6rem; 	// 96px / 16px
		--font-size-xxxxl: 9rem;	// 144px / 16px
	}
}
